@media (min-width: 680px) and (max-width: 930px) {

    nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}

    main{
        grid-template-columns: repeat(2,1fr);
    }

    section:nth-child(3) {
        grid-column: span 2;
    }
    
}