@media (min-width: 482px) and (max-width: 930px) {

  footer{
    width: 100%;
  }

  .spotlight  {
    width: 920px;
    height: 250px;
    display: flex;
    justify-content: center;
    order: 3;
  }

  .site-column{
    order: 4;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 410px;
  }

  .join{
    order: 1;
    display: flex;
    flex-grow: 8;

    background-color: #eee;
    margin: 5px;
    align-content: center;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 2px #06ac06b0;
    text-align: center;
    position: relative;
  }

  .join p{
    position: absolute;
    text-align: center;
    bottom: 40px; 
    right: 20px;
    left: 20px;
}

.join a{
    text-decoration: none;
    position: absolute;
    width: 90%;
    height: auto;
    padding: 1rem;
    background-color: #007e8f;
    font-weight: bold;
    border-radius: 10px;
    color: #293022;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    top: 20px;
    left: 15px; 
    right: 10px;
    z-index: 1;
    font-size: 1.5rem;
}


  .content{
    width: 100%;
  }

  .site-name{
    width: 100%;
    order: 1;
  }

  .event{
    order: 2;
    width: 55%;
    margin-right: 5px;
  }

  .weather{
    order: 3;
    width: 37%;
    margin-left: 0%;
  }

  .Release{
    width: 100%;
    order: 2;
  }

  .spotlight{
    width: 100%;
  }


  .spotlight-one  {
    width: 45%;
    height: 90%;
  }

  .spotlight-two  {
    width: 45%;
    height: 90%;
  }


  section{
    width: 920px;
  }

  .completeDate{
    width:100%;
  }

  .social{
    margin-left: 300px;
    margin-top: 30px;
  }


  .logo-footer {
    display: flex;
        flex-direction: row;
        width: 100%;
  }

  .logo2{
    width: 10%;
  }

  .info{
    width: 70%;
  }

  .footer-address{
    display: flex;
        padding: 5%;
        width: 70%;
        flex-direction: row;
  }

  .footer-address-two{
    width: 30%;
    padding: 2%;
  }

  .name{
    display: flex;
  }

  .showP{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    }
  
    .site-name-1{
      font-size: 1.8rem;
  }

  .site-name-2{
      font-size: 1.4rem;
      width: 250px;
  }

  .Release p{
    display: inline-block;
}


}


.directory{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: hidden;
}

.directory section {
  text-align: justify;
  align-items:flex-start;

}




